<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.transfer">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_bg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Transfer"
        tools:targetApi="31">
        <activity
            android:name=".layout.Basic_Interface"
            android:exported="false"
            android:label="@string/title_activity_basic_interface" />
        <activity
            android:name=".layout.initialLayout.SplashScreen"
            android:exported="true"
            android:label="Transfera"
            android:theme="@style/Theme.Transfer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.initialLayout.MainActivity"
            android:exported="true"/>
        <activity
            android:name=".layout.initialLayout.SelectLanguage"
            android:exported="true"/>
        <activity
            android:name=".layout.initialLayout.InputApi"
            android:exported="true"/>
        <activity
            android:name=".layout.settingLayout.SettingLanguage"
            android:exported="true"/>
        <activity
            android:name=".layout.settingLayout.SettingApi"
            android:exported="true"/>
        <activity
            android:name=".layout.settingLayout.SettingLogs"
            android:exported="true"/>
        <service
            android:name=".notifications.MyNotificationListenerService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".notifications.ParseNotifications"
            android:exported="true"/>
    </application>

</manifest>